<div id="table_specs">
  <h4>Apple Pack Specifications</h4>
  <div class="wrapper">
      <table class="responsive">
        <thead>
          <tr>
            <th>Apple Pack Type</th>
            <th>Stickers</th>
            <th>Net Weight</th>
            <th>Gross Weight</th>
            <th>Cardboard Case Size</th>
            <th>Pallet Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
